.dashboardbox {
    &>hr {
        border: 1px solid var(--color-grey-3);
    }

    .informationUser {
        display: flex;
        width: 100%;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        &>h2 {
            margin: 34.5px 158px 10px 13px;
        }

        &>p {
            margin: 0px 68px 34.5px 13px;
        }

    }

    .tech {
        display: flex;
        width: 100%;
        padding: 30px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;

        &>button {
            cursor: pointer;
            background-color: var(--color-grey-3);
            border-radius: 2px;
            padding: 3px;
        }

    }

    &>section {
        background-color: var(--color-grey-3);
        width: 86%;
        height: 358px;
        padding: 10px;
        margin: 0px 14px 75px 12px;
        border-radius: 4px;

        margin-left: 27px;

    }
}

@media(min-width: 546px) {
    .dashboardbox{
        &>section {
            width: 90%;
        }
    }
}

@media(min-width: 682px) {
    .dashboardbox{
        &>section {
            width: 92%;
        }
    }
}

@media(min-width: 700px) {
    .dashboardbox {
        .informationUser {
            width: 77%;
            height: 118px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0px;
            margin-left: 63px;

            &>h2 {
                margin: 0px;
            }

            &>p {
                margin: 0px;
            }

        }

        .tech {
            width: 77%;
            align-items: center;
            margin-left: 42px;

            &>h2 {
                width: 100%;
            }

            &>button {
                margin-right: -53px;
            }
        }

        &>section {
            width: 76%;
            margin-left: 72px;
        }

    }
}

@media(min-width: 1024px) {
    .dashboardbox {

        .informationUser {
            width: 60%;
            margin-left: 180px;
        }

        .tech {
            width: 60%;
            margin-left: 156px;
        }

        &>section {
            width: 60%;
            margin-left: 180px;
        }
    }
}


@media(min-width: 1440px) {
    .dashboardbox {
        .informationUser {
            width: 50%;
            margin-left: 332px;
        }

        .tech {
            width: 50%;
            margin-left: 314px;
        }

        &>section {
            width: 50%;
            margin-left: 341px;
        }
    }
}